{{> navbar}}

<div class="jumbotron">
	<h1 class='display-4'>newScraper</h1>
	<p class="lead">for scraping and saving the news</p>
</div>

{{> notes_modal}}

<div id="article_box">
	{{#each artz}}
	 <div class="row m-4 p-2 articleRow">
		<div class="col-10">
			<div class="title">{{title}}</div>
			<a class="link" href={{link}} target="_blank">{{link}}</a>
		</div>
		<div class="col-2">
			<button class="view_notes btn" data-id={{_id}}>view notes</button>
		</div>
	 </div>
	{{else}}
	 <div class="row m-4 p-2 articleRow">
	 		no articles have been saved!</div>
	{{/each}}
</div>
